.staff-list__container{
    max-width: 900px;
    margin: 80px auto;
    padding: 0 20px;
}

.staff-list__title{
    font-size: 24px;
    font-weight: bold;
    border-left: 6px solid #000;
    padding-left: 15px;
    margin-bottom: 80px;
    line-height: 1.2;
    color: #000;
}

.staff-table{
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
}

.staff-table th{
    text-align: center;
    padding: 15px 30px;
    color: #737373;
    font-weight: bold;
    border-bottom: 3px solid #ddd;
    font-size: 16px;
}

.staff-table td{
    padding: 15px 30px;
    color: #737373;
    border-bottom: 1px solid #eee;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.staff-table th:nth-child(1),
.staff-table td:nth-child(1) {
    width: 40%;
}

.staff-table th:nth-child(2),
.staff-table td:nth-child(2) {
    width: 20%;
}

.staff-table th:nth-child(3),
.staff-table td:nth-child(3) {
    width: 40%;
}

.staff-table tr:last-child td{
    border-bottom: none;
}

.staff-table td a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: opacity 0.2s;
}

.staff-table td:hover {
    text-decoration: underline;
}