.attendance-detail-container{
    max-width: 950px;
    margin: 50px auto;
    padding: 0 20px;
}

.detail-title{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 40px;
    padding-left: 15px;
    border-left: 6px solid #000;
    line-height: 1.2;
    color: #000;
}

.attendance-detail-card{
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.detail-table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.detail-table th,
.detail-table td{
    border-bottom: 1px solid #ddd;
    padding: 18px 40px;
}

.detail-table tr:last-child th,
.detail-table tr:last-child td {
    border-bottom: none;
}


.detail-table th {
    width: 30%;
    text-align: center;
    font-weight: bold;
    color: #737373;
}

.detail-table td {
    align-items: center;
    font-weight: bold;
    color: #000;
}

.date-year{
    margin-right: 200px;
}

.time-separator{
    margin: 0 50px ;
}

.detail-table input[type='text'],
.detail-table input[type='time'],
.detail-table textarea{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: #fff;
}

input[type='time']{
    width: 120px;
    text-align: center;
}

input[type='time']::-webkit-calendar-picker-indicator
{
    display: none;
}

.detail-table textarea{
    width: 75%;
    height: 100px;
    text-align: left;
    resize: none;
}

.error{
    color: #ff0000;
    font-size: 10px;
    margin-top: 5px;
}

.form-footer{
    text-align: right;
    margin-top: 20px;
    padding: 0;
}

.pending-message{
    color: #ff0000;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: right;
}

.submit-btn{
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.3s;
}

.submit-btn:hover{
    opacity: 0.8;
}