.list__container{
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

.list__title{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.list__title::before{
    content: "";
    display: inline-block;
    width: 4px;
    height: 24px;
    background-color: #000;
    margin-right: 15px;
}

.month-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.month-nav__link{
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    transition: background-color 0.3s;
}

.arrow-icon__right{
    height: 12px;
    margin-right: 10px;
}

.arrow-icon__left{
    height: 12px;
    transform: scaleX(-1);
    margin-left: 10px;
}

.calender-icon{
    height: 20px;
}

.month-nav__current{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    gap: 10px;
}

.attendance-table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #eee;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    margin-top: 20px;
}

.attendance-table tr:last-child td{
    border-bottom: none;
}

.attendance-table th {
    background-color: #fff;
    color: #737373;
    font-weight: bold;
    text-align: center;
    padding: 13px;
    border-bottom: 3px solid #E1E1E1;
}

.attendance-table td {
    padding: 13px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #E1E1E1;
    color: #737373;
}

.detail-link{
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.detail-link:hover{
    text-decoration: underline;
}

@media(max-width: 1400px){
    .list__container{
        max-width: 95%;
    }
}